form.material {
    overflow: auto;
}

form.material div.material-item {
    display: inline-flex;
    align-items: center;
    margin-bottom: 12px;
}

form.material div.material-item > input {
    margin: 0;
}

form.material div.material-item > label {
    margin-right: 12px;
    width: 136px;
}
